<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
  <div class="container">
    <h1>About Us</h1>

    <div class="row">
      <div class="col-md-6">
        <h2>Cagan Abney</h2>
        <img src="static/images/Cagan.png" alt="Team Member 1" class="img-fluid">
        <p>Name: Cagan Abney </p>
      </div>
      <div class="col-md-6">
        <h2>Jonathan Unger</h2>
        <img src="static/images/Jonathan.jpg" alt="Team Member 2" class="img-fluid">
        <p>Name: Jonathan Unger</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>Fernanda Valdez</h2>
        <img src="team_member3.jpg" alt="Team Member 3" class="img-fluid">
        <p>Name: Fernanda Valdez</p>
      </div>
      <div class="col-md-6">
        <h2>Joshua Hale</h2>
        <img src="team_member4.jpg" alt="Team Member 4" class="img-fluid">
        <p>Name: Joshua Hale</p>
      </div>
    </div>
  </div>

</body>
</html>
